asg_batch.o
asg_create_location.o
asg_create_transport.o
asg_ctx.o
asg_ignore.o
asg_initialize.o
asg_misc1.o
asg_poll.o
asg_rdma.o
asg_read.o
asg_request.o
asg_serdes.o
asg_write.o
randtest
sos_prot.c
sos_prot.h
sos_prot.o
testit
